In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import ensemble, tree, linear_model
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [5]:
# Any results you write to the current directory are saved as output.

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
print("train's shape:", train.shape)
print("test's shape;", test.shape)

train's shape: (1460, 81)
test's shape; (1459, 80)

In [34]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [35]:
train.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

In [6]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [8]:
x_feat = ['YearBuilt', 'LotArea', 'BedroomAbvGr', 'KitchenAbvGr']
train_x = train[x_feat]
train_y = train.SalePrice
test_x = test[x_feat]

train_X, val_X, train_y, val_y = train_test_split(train_x,train_y,random_state=1)

In [24]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import math
#最小２乗法による偏係数
OLR = LinearRegression().fit(train_X, train_y)
y_pred = OLR.predict(val_X)

acc_OLR = math.sqrt(mean_squared_error(y_pred, val_y))
print(acc_OLR)

pd.DataFrame({'pred':y_pred, 'true':val_y, 'dis':val_y-y_pred}).head()

65662.93207801456

               dis           pred    true
258    2144.161782  229355.838218  231500
267   20361.363979  159138.636021  179500
288  -56830.522017  178830.522017  122000
649  -42828.473366  127328.473366   84500
1233 -30338.803856  172338.803856  142000

In [32]:
from sklearn.linear_model import Ridge
ridge = Ridge()
 
ridge.fit(train_X, train_y)
y_pred = ridge.predict(val_X)
acc_OLR = math.sqrt(mean_squared_error(y_pred, val_y))
print(acc_OLR)

pd.DataFrame({'pred':y_pred, 'true':val_y, 'dis':val_y-y_pred}).head()

65649.23082628853

               dis           pred    true
258    2165.262724  229334.737276  231500
267   20505.193891  158994.806109  179500
288  -56782.797505  178782.797505  122000
649  -42923.999121  127423.999121   84500
1233 -30288.134653  172288.134653  142000

In [33]:
ridge.coef_

array([ 1.34629364e+03,  1.82643582e+00,  2.04999429e+04, -3.35526824e+04])

In [26]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state = 0)
dtr.fit(train_X, train_y)

y_pred = dtr.predict(val_X)
acc_OLR = math.sqrt(mean_squared_error(y_pred, val_y))
print(acc_OLR)

pd.DataFrame({'pred':y_pred, 'true':val_y, 'dis':val_y-y_pred}).head()

63885.43720393959

          dis      pred    true
258    1500.0  230000.0  231500
267   81500.0   98000.0  179500
288   -6500.0  128500.0  122000
649    3500.0   81000.0   84500
1233 -35000.0  177000.0  142000

In [27]:
from sklearn.ensemble import GradientBoostingRegressor
 
GBR = GradientBoostingRegressor()
 
GBR.fit(train_X, train_y)

y_pred = GBR.predict(val_X)
acc_OLR = math.sqrt(mean_squared_error(y_pred, val_y))
print(acc_OLR)

pd.DataFrame({'pred':y_pred, 'true':val_y, 'dis':val_y-y_pred}).head()

54371.392417254705

               dis           pred    true
258  -12073.057728  243573.057728  231500
267   34626.097384  144873.902616  179500
288  -23724.143104  145724.143104  122000
649    3266.953098   81233.046902   84500
1233 -19121.836401  161121.836401  142000

In [30]:
# XGboostのライブラリをインポート
import xgboost as xgb
# モデルのインスタンス作成
xgbr = xgb.XGBRegressor()
xgbr.fit(train_X, train_y)

y_pred = xgbr.predict(val_X)
acc_OLR = math.sqrt(mean_squared_error(y_pred, val_y))
print(acc_OLR)

pd.DataFrame({'pred':y_pred, 'true':val_y, 'dis':val_y-y_pred}).head()

54148.5415942963

               dis           pred    true
258  -14399.109375  245899.109375  231500
267   29103.125000  150396.875000  179500
288  -21174.875000  143174.875000  122000
649   -5172.515625   89672.515625   84500
1233 -15750.312500  157750.312500  142000

In [31]:
from sklearn.neighbors import KNeighborsRegressor
 
knr = KNeighborsRegressor()
knr.fit(train_X, train_y)

y_pred = knr.predict(val_X)
acc_OLR = math.sqrt(mean_squared_error(y_pred, val_y))
print(acc_OLR)

pd.DataFrame({'pred':y_pred, 'true':val_y, 'dis':val_y-y_pred}).head()

68373.19730730589

          dis      pred    true
258  -13023.4  244523.4  231500
267   44300.0  135200.0  179500
288  -39980.0  161980.0  122000
649  -19700.0  104200.0   84500
1233 -56620.0  198620.0  142000